create database GameOperationDB

use GameOperationDB

----------------------------------------------------------------------------------------

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GameName] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_dbo.Game] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NamePlayer] [nvarchar](60) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dbo.Player] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

----------------------------------------------------------------------------------------

create table GameResult(
ID BIGINT primary key IDENTITY not null,

win BIGINT  not null,
timestamp datetime not null,

playerId BIGINT not null FOREIGN KEY REFERENCES Player(ID),
gameId BIGINT not null FOREIGN KEY REFERENCES Game(ID)
);

create table GameResultService_1(
ID BIGINT primary key IDENTITY not null,

win BIGINT  not null,
timestamp datetime not null,

playerId BIGINT not null FOREIGN KEY REFERENCES Player(ID),
gameId BIGINT not null FOREIGN KEY REFERENCES Game(ID)
);

----------------------------------------------------------------------------------------

insert into Game (GameName) values ('Game One');
insert into Game (GameName) values ('Game Two');
insert into Game (GameName) values ('Game Three');

------------------------------------------------------------------------------------------

IF OBJECT_ID('dbo.Leaderboard', 'V') IS NOT NULL
    DROP VIEW dbo.Leaderboard
GO

CREATE VIEW dbo.Leaderboard AS

SELECT 
	top 100
	MAX(gr.playerId) as playerId,
	SUM(gr.win) as balance,
	MAX(gr.timestamp) as lastUpdateDate
FROM Player pl 
	INNER JOIN GameResult gr on pl.Id = gr.playerId
GROUP BY gr.playerId
ORDER BY SUM(gr.win) desc


------------------------------------------------------------------------------------------

USE [GameOperationDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
